*{
  margin: 0px;
  padding: 0px;
  color: rgb(229, 255, 0);
  font-family: Arial, sans-serif;
  word-wrap: break-word;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgb(255, 0, 0);
}
* img {
  max-width: 30%;
filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}


header {
  width:100%;
  height:80px;
  background-color: rgb(18, 25, 32);
  margin: 0px auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 10px;
  z-index: 999;
  
  }
  nav ul li {
    list-style: none;
    margin: 20px;
    position: relative;
   left: 1050px;
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold; 
  margin-top: -15px;
  border: 2px solid rgb(255, 0, 0);
  padding: 5px 10px;
  
  }
  .clearfix{
    clear: both;
  }
  body {
    overflow-x: hidden;
    width: auto;
    height: auto;
  }
  
.about{
  width:1600px;
  height:auto;
  background-image: url(https://cdn.techtitute.com/portal-blog/Metodologias-agiles-para-el-desarrollo-de-software-Scrum-scaled.jpg);
  background-repeat: no-repeat;
   background-size: cover;
  
}
.about h1  {
  margin-left: 50px;
}
.about p {
  margin-left: 50px;
}

  #container {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(18, 25, 32);
    
  }
 
  .skills{
    width:100%;
    height:250px;
    background-color: rgb(18, 25, 32);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .skills p{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .skills-logos {
    width:1600px;
    height:100%;
    background-color: rgb(18, 25, 32);
  }
  .skills-logos img{
    max-width: 146px;
    height: 146px;
  position: relative;
  left: 40px;
  border-radius: 25%;
  margin: auto;
  padding: auto;
  text-align: center;
  outline: 1px solid rgb(255, 0, 0);
  }
  .education{
    margin: 10px;
    width:100% auto;
    height: 100% auto;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .education__tarjetas{
    margin: 10px;
    width:100%;
    height: 100%;
    flex-basis: 33.33%;
    outline: 1px solid rgb(255, 0, 0);
  }
  .education__tarjetas img{
    outline: 1px solid rgb(255, 0, 0);
  }
  
  .Dowload{
    position: relative;
    left: 750px;
    border: 1px solid rgb(255, 0, 0);
    padding: 10px;
    display: inline-block;
  }

  .contacts{
    width:100% auto;
    height: 100% auto;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .contacts img{
    position: relative;
    left: 600px;
    width: 150px;
    height: 150px;
    margin: 10px;
    flex-basis: 33.33%;
    outline: 1px solid rgb(255, 0, 0);
  }
  
 
  

